{% load static %}
{% load crispy_forms_tags %}
<div class="col-md-4 col-lg-4 col-sm-12 ">
    <div class="app-card app-card-basic d-flex flex-column align-items-start shadow-sm">
        <div class="app-card-header p-3 border-bottom-0">
            <div class="row align-items-center gx-3">
                <div class="col-auto">
                    <div class="app-icon-holder icon-holder-mono">
                        <i class="fa fa-medal" style="margin-top: 3px"></i>
                    </div>
                </div>
                <div class="col-auto">
                    <h4 class="app-card-title">{{ type | title }} Assessment</h4>
                </div>
            </div>
        </div>
        <div class="app-card-body px-4 col-12">
            <p class="text-center mb-2">Use the form to grade your project students</p>
            <form action="" method="post">
                <div id="form-errors">{{ form_errors }}</div>
                {% csrf_token %}

                {% if prog.programme_title == 'ND' %}
                {{ form1|crispy }}
                {% else %}
                {{ form2|crispy }}

                {% endif %}

                <div class="d-grid gap-2">
                    <button type="submit" name="{{ prog.programme_title }}" class="btn btn-success text-white mt-4">{{ type | title }} Assess</button>
                </div>
            </form>
        </div>
        <div class="app-card-footer p-4 mt-auto"></div>
    </div>
</div>
<div class="col-md-8 col-lg-8 col-sm-12 ">
    <div
        class="app-card app-card-basic d-flex flex-column align-items-start shadow-sm"
    >
        <div class="app-card-header p-3 border-bottom-0">
            <div class="row align-items-center gx-3">
                <div class="col-auto">
                    <div class="app-icon-holder icon-holder-mono">
                        <i class="fa fa-list-alt" style="margin-top: 3px"></i>
                    </div>
                    <!--//icon-holder-->
                </div>
                <!--//col-->
                <div class="col-auto">
                    <h4 class="app-card-title"> Assessment Details</h4>
                </div>
                <!--//col-->
            </div>
            <!--//row-->
        </div>
        <!--//app-card-header-->
        <div class="app-card-body px-4 col-12">
            <div class="table-responsive table-bordered">
                <table class="table app-table-hover mb-0 text-left table-sm" id="table_id">
                    <thead class="text-left">
                        <tr>
                            <th class="cell">S/No</th>
                            <th class="cell">Student</th>
                            <th class="cell">Grade</th>
                            <th class="cell">Grade by</th>
                            <th class="cell">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if assessments_nd %}
                            {% for assessment in assessments_nd %}
                                <tr>
                                    <td class="">{{ forloop.counter }}</td>
                                    {% if request.user.is_staff %}
                                    <td class=""><a href=""> {{ assessment.student_id.stud_id.user_id }} | {{ assessment.student_id.stud_id.user_id.get_fullname }}</a></td>
                                    {% else %}
                                    <td class=""><a href=""> {{ assessment.student_id.stud_id.user_id }} | {{ assessment.student_id.stud_id.user_id.get_fullname }}</a></td>
                                    {% endif %}
                                    <td class="text-center">{{ assessment.seminar_defense_grade }}</td>
                                    <td class="">{{ assessment.assessor_id.user_id }}</td>
                                    <td class="">

                                        {% if request.user.is_staff %}
                                        <form action="" method="post">
                                        {% else %}
                                        <form action="" method="post">
                                        {% endif %}
                                            {% csrf_token %}
                                            <button type="submit" name="delete" class="btn btn-danger btn-sm text-white"><i class="fa fa-trash"></i> </button>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}

                        {% if assessments_hnd %}

                            {% for assessment in assessments_hnd %}
                                <tr>
                                    <td class="">{{ forloop.counter }}</td>
                                    {% if request.user.is_staff %}
                                    <td class=""><a href=""> {{ assessment.student_id.stud_id.user_id }} | {{ assessment.student_id.stud_id.user_id.get_fullname }}</a></td>
                                    {% else %}
                                    <td class=""><a href=""> {{ assessment.student_id.stud_id.user_id }} | {{ assessment.student_id.stud_id.user_id.get_fullname }}</a></td>
                                    {% endif %}
                                    <td class="text-center">{{ assessment.supervisor_grade }}</td>
                                    <td class="">{{ assessment.assessor_id.user_id }}</td>
                                    <td class="">

                                        {% if request.user.is_staff %}
                                        <form action="" method="post">
                                        {% else %}
                                        <form action="" method="post">
                                        {% endif %}
                                            {% csrf_token %}
                                            <button type="submit" name="delete" class="btn btn-danger btn-sm text-white"><i class="fa fa-trash"></i> </button>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}

                        {% else %}
                            <tr>
                                <td colspan="12">
                                    <div class="jumbotron text-center p-5">
                                        <p style="font-size: 3em">📂</p>
                                        <br />
                                        <p style="font-size: 1em; margin-top: -40px">
                                            No Assessment Record!
                                        </p>
                                        <p class="text-muted">
                                            Assessments records will be displayed here if found
                                        </p>
                                    </div>
                                </td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
        <!--//app-card-body-->
        <div class="app-card-footer p-4 mt-auto"></div>
        <!--//app-card-footer-->
    </div>
    <!--//app-card-->
</div>