{% load static %}
<script src="{% static 'lib/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'auth/plugins/popper.min.js' %}"></script>
<script src="{% static 'auth/plugins/bootstrap/js/bootstrap.js' %}"></script>
<!-- Charts JS -->
<script src="{% static 'auth/plugins/chart.js/chart.min.js' %}"></script>
<script src="{% static 'auth/js/index-charts.js' %}"></script>
<!-- Page Specific JS -->
<script src="{% static 'auth/js/app.js' %}"></script>
<link rel="stylesheet" href="{% static 'auth/select2/css/select2.min.css' %}">
<script src="{% static 'auth/select2/js/select2.min.js' %}"></script>
<script src="{% static 'auth/js/htmx.min.js' %}"></script>
<script src="{% static 'auth/js/wow.min.js' %}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs5/dt-1.12.1/b-2.2.3/b-html5-2.2.3/b-print-2.2.3/r-2.3.0/datatables.min.js"></script>

<script>
    window.setTimeout(function() {
        $(".alert").fadeTo(500, 0).slideUp(500, function(){
            $(this).remove();
        });

        $("#remove").fadeTo(500, 0).slideUp(500, function(){
            $(this).remove();
        });

    }, 10000);

    new WOW().init();
    $('#table_id').DataTable( {
		dom: 'Bfltip',
			buttons: ['print'],
	} );

</script>