{% load crispy_forms_tags %}
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">{{prog_id}} {{type_id}} Groups?</h5>
        <button type="button" class="close btn btn-secondary" data-bs-dismiss="modal"><span>×</span>
        </button>
    </div>
    <div class="modal-body">
        <p class="text-center">Below are the groups of {{prog_id.programme_description}} students ({{type_id.type_title}}) under your supervision</p>
        <div class="row g-4">
        {% if groups %}
            {% for group in groups %}
                <div class="col-6 col-lg-3">
                    <div class="app-card app-card-stat shadow-sm h-100">
                        <div class="app-card-body p-3 p-lg-4">
                            <h4 class="stats-type mb-1">Click to view</h4>
                            <div class="stats-figure">{{group}}</div>
                            <div class="stats-meta text-success">
                                Students
                            </div>
                        </div><!--//app-card-body-->
                        <a class="app-card-link-mask" style="cursor: pointer;" hx-get="{% url 'auth:display_group_members' group.id prog_id.id type_id.id %}" hx-target="#displayMembers"></a>
                    </div><!--//app-card-->
                </div><!--//col-->
            {% endfor %}
        {% endif %}
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cancel</button>
    </div>
</div>