{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Grade Student {% endblock %}
{% block head %}
{% include "partials/auth_head.html" %}
{%endblock %}
{% block body %}
<div class="app">
    {% include "partials/auth_nav.html" %}

    <div class="app-wrapper">
	    <div class="app-content pt-3 p-md-3 p-lg-4">
		    <div class="container-xl">

			    <div class="row g-3 mb-4 align-items-center justify-content-between">
				    <div class="col-auto">
			            <h1 class="app-page-title mb-0">All Assigned Student </h1>
				    </div>
			    </div><!--//row-->

				{% include "partials/messages.html" %}

                <div class="app-card app-card-accordion shadow-sm mb-4">
				    <div class="app-card-header p-4 pb-2  border-0">
				       <h4 class="app-card-title">Grade Project Students</h4>
				    </div><!--//app-card-header-->
				    <div class="app-card-body p-4 pt-0">
					    <div id="faq1-accordion" class="faq1-accordion faq-accordion accordion">
						    <div class="accordion-item">
								{% for prog in programmes %}

							    <h2 class="accordion-header" id="faq1-heading-1">
							      <button class="accordion-button btn btn-link" type="button" data-bs-toggle="collapse"  data-bs-target="#{{prog}}{{forloop.counter}}" aria-expanded="false" aria-controls="faq1-1">
							        {{ prog.programme_description }} Students
							      </button>
							    </h2>
							    <div id="{{prog}}{{forloop.counter}}" class="accordion-collapse collapse border-0" aria-labelledby="faq1-heading-1">
							        <div class="accordion-body text-start p4">
							            <div class="row g-4">


								{% if prog.programme_title == "ND" %}

									{% if allocation_nd %}
									{% include 'assess/partials/super_grade.html' %}

									{% else %}

									<div class="jumbotron text-center p-5">
										<p style="font-size: 3em">📂</p>
										<br />
										<p style="font-size: 1em; margin-top: -40px">
											No Student Record!
										</p>
										<p class="text-muted">
											Student assessments records will be displayed here if found
										</p>
									</div>

									{% endif %}

								{% elif prog.programme_title == 'HND' %}

									{% if allocation_hnd %}
										{% include 'assess/partials/super_grade.html' %}
									{% else %}
									<div class="jumbotron text-center p-5">
										<p style="font-size: 3em">📂</p>
										<br />
										<p style="font-size: 1em; margin-top: -40px">
											No Student Record!
										</p>
										<p class="text-muted">
											Student assessments records will be displayed here if found
										</p>
									</div>
									{% endif %}
								{% endif %}

										</div>

										</div><!--//row-->
							        </div>
							    </div>
								{% endfor %}
							</div><!--//accordion-item-->
	                    </div><!--//faq1-accordion-->
				    </div><!--//app-card-body-->
				</div><!--//app-card-->

            </div>
        </div>
        {% include 'partials/auth_footer.html' %}
    </div>
    <!-- Javascript -->
	{% include "partials/auth_script.html" %}
</div>
<script>
	$('.searchable').select2()
</script>
{% endblock body %}
