{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Programme Selection {% endblock %}
{% block head %}
{% include "partials/auth_head.html" %}
{%endblock %}
{% block body %}
<div class="app">
    {% include "partials/auth_nav.html" %}

    <div class="app-wrapper">
	    <div class="app-content pt-3 p-md-3 p-lg-4">
		    <div class="container-xl">
			    <div class="row g-3 mb-4 align-items-center justify-content-between">
				    <div class="col-auto">
			            <h1 class="app-page-title mb-0">
                            <a href="{% url 'auth:department' dept.pk %}" class="btn btn-secodary"><i class="fa fa-arrow-left"></i></a>
                            {{ dept }} programme selection
                        </h1>
				    </div>
			    </div><!--//row-->
				{% include 'partials/messages.html' %}
				<div class="row g-4 mb-4">
					{% for prog in programmes %}
                    <div class="col-12 col-md-6 col-lg-6">
					    <div class="app-card app-card-basic d-flex flex-column align-items-start shadow-sm">
						    <div class="app-card-header p-3 border-bottom-0">
						        <div class="row align-items-center gx-3">
							        <div class="col-auto">
										{% if prog.programme_title == "ND" %}
										<div class="app-icon-holder bg-primary">
										{% else %}
										<div class="app-icon-holder bg-info">
											{% endif %}
										    <i class="fa fa-users text-white"></i>
									    </div><!--//icon-holder-->
							        </div><!--//col-->
							        <div class="col-auto">
								        <h4 class="app-card-title">{{ prog.programme_description }}</h4>
							        </div><!--//col-->
						        </div><!--//row-->
						    </div><!--//app-card-header-->
						    <div class="app-card-body px-4">
							    <div class="intro">This Page contents all {{ prog.programme_description }} {{type_id}} </div>
						    </div><!--//app-card-body-->
						    <div class="app-card-footer p-2 mt-auto">
							   <!-- <a class="btn app-btn-secondary" href="#">Create New</a> -->
						    </div><!--//app-card-footer-->
							{% if type_id == 'students' %}
                            <a class="app-card-link-mask" href="{% url 'auth:manage_students' prog.id dept.dept_id %}"></a>
							{% elif type_id == 'topics' %}
                            <a class="app-card-link-mask" href="{% url 'auth:approve_topics' dept.dept_id %}"></a>
							{% endif %}
						</div><!--//app-card-->
				    </div><!--//col-->
					{% endfor %}
                </div>
			</div>
		</div>
        {% include 'partials/auth_footer.html' %}
	</div>
    <!-- Javascript -->
	{% include "partials/auth_script.html" %}
</div>


{% endblock body %}
