{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} View Assigned Students {% endblock %}
{% block head %}
{% include "partials/auth_head.html" %}
{%endblock %}
{% block body %}
<div class="app">
    {% include "partials/auth_nav.html" %}

    <div class="app-wrapper">
	    <div class="app-content pt-3 p-md-3 p-lg-4">
		    <div class="container-xl">

			    <div class="row g-3 mb-4 align-items-center justify-content-between">
				    <div class="col-auto">
			            <h1 class="app-page-title mb-0">View Assigned Student</h1>
				    </div>
			    </div><!--//row-->

                <div class="app-card app-card-accordion shadow-sm mb-4">
				    <div class="app-card-header p-4 pb-2  border-0">
				       <h4 class="app-card-title">Programmes</h4>
				    </div><!--//app-card-header-->
				    <div class="app-card-body p-4 pt-0">
					    <div id="faq1-accordion" class="faq1-accordion faq-accordion accordion">
						    <div class="accordion-item">
								{% for prog in programmes %}
							    <h2 class="accordion-header" id="faq1-heading-1">
							      <button class="accordion-button btn btn-link" type="button" data-bs-toggle="collapse"  data-bs-target="#{{prog}}{{forloop.counter}}" aria-expanded="false" aria-controls="faq1-1">
							        {{ prog.programme_description }} Students
							      </button>
							    </h2>
							    <div id="{{prog}}{{forloop.counter}}" class="accordion-collapse collapse border-0" aria-labelledby="faq1-heading-1">
							        <div class="accordion-body text-start p4">
							            <div class="row g-4">
											{% for cat in categories %}
											<div class="col-6 col-lg-3">
												<div class="app-card app-card-stat shadow-sm h-100">
													<div class="app-card-body p-3 p-lg-4">
														<h4 class="stats-type mb-1">Click to view</h4>
														<div class="stats-figure">{{cat.type_title}}</div>
														<div class="stats-meta text-success">
															Students
														</div>
													</div><!--//app-card-body-->

													{% if prog.programme_title == 'HND' %}

													<a class="app-card-link-mask" style="cursor: pointer;" hx-get="{% url 'auth:display_member' prog.id cat.id %}" hx-target="#displayGroups"></a>

													{% else %}
													<a class="app-card-link-mask" style="cursor: pointer;" hx-get="{% url 'auth:display_groups' prog.id cat.id %}" hx-target="#displayGroups"></a>

													{% endif %}

												</div><!--//app-card-->
											</div><!--//col-->
											{% endfor %}
										</div>
											{% comment %}

											{% if allocations_hnd %}
												{% for alloc in allocations_hnd %}
													<div class="col-sm-12 col-md-6 col-lg-3">
														<div class="app-card app-card-doc shadow-sm h-100">
															<div class="app-card-thumb-holder p-3">
																<span class="">
																	<img src="{{ alloc.stud_id.user_id.pic.url }}" alt="" style="border-radius: 50%; height: 80px; width: 80px;">
																</span>
																<a class="app-card-link-mask" href="#file-link"></a>
															</div>
															<div class="app-card-body p-3 has-card-actions">
																<h4 class="app-doc-title truncate mb-0"><a href="#file-link">{{alloc.group_id}}</a></h4>
																<div class="app-doc-meta">
																	<ul class="list-unstyled mb-0">
																		<li><span class="text-muted">Full Name:</span> {{alloc.stud_id.user_id.get_fullname }}</li>
																		<li><span class="text-muted">Reg No:</span> {{alloc.stud_id.user_id.username }}</li>
																		<li><span class="text-muted">Phone:</span> {{alloc.stud_id.user_id.phone}}</li>
																		<li><span class="text-muted">Category:</span> {{alloc.type_id}}</li>
																	</ul>
																</div><!--//app-doc-meta-->
															</div><!--//app-card-body-->

														</div><!--//app-card-->
													</div><!--//col-->
												{% endfor %}
											{% else %}
												{% if forloop.counter == 1 %}
												<div class="jumbotron text-center bg-dark">
													<p style="font-size: 3em;">📂</p>
													<p style="font-size: 1.2em;">No Allocation yet!</p>
												</div>
												{% endif %}
											{% endif %}
											{% endcomment %}
										</div><!--//row-->
							        </div>
							    </div>
								{% endfor %}
							</div><!--//accordion-item-->
	                    </div><!--//faq1-accordion-->
				    </div><!--//app-card-body-->
				</div><!--//app-card-->

            </div>
        </div>
        {% include 'partials/auth_footer.html' %}
    </div>
    <!-- Javascript -->
	{% include "partials/auth_script.html" %}
</div>

<div class="modal fade modal-lg" id="displayMembersModal" style="display: none;" aria-hidden="true">
	<div class="modal-dialog" id="displayMembers" role="document" hx-target="this">

	</div>
</div>

<div class="modal fade modal-lg" id="displayGroupsModal" style="display: none;" aria-hidden="true">
	<div class="modal-dialog" id="displayGroups" role="document" hx-target="this">

	</div>
</div>

<script>
	var modal = new bootstrap.Modal(document.getElementById('displayMembersModal'))
	var modal2 = new bootstrap.Modal(document.getElementById('displayGroupsModal'))

	htmx.on('htmx:afterSwap', (e) => {
		if (e.detail.target.id === 'displayMembers'){
		modal2.hide();
		modal.show();
	  }
	})

	htmx.on('htmx:beforeSwap', (e) => {
	  if (e.detail.target.id === 'displayMembers' && !e.detail.xhr.response){
		modal2.hide()
		modal.hide();
		}
	})

	htmx.on('htmx:afterSwap', (e) => {
		if (e.detail.target.id === 'displayGroups'){
		modal2.show();
	  }
	})

	htmx.on('htmx:beforeSwap', (e) => {
	  if (e.detail.target.id === 'displayGroups' && !e.detail.xhr.response){
		modal2.hide();
		}
	})

</script>
{% endblock body %}
