{% extends "base.html" %}
{% load static %}
{% block title %} Complete Password Reset
{% endblock %}
{% block head %}
{% include "partials/auth_head.html" %}
{%endblock %}
{% block body %}
<div class="app app-reset-password p-0">
    <div class="row g-0 app-auth-wrapper">
	    <div class="col-12 auth-main-col text-center p-5">
		    <div class="d-flex flex-column align-content-center">
			    <div class="app-auth-body mx-auto">
				    <div class="app-auth-branding mb-4">
						<a class="app-logo" href="{% url 'app:home' %}">
							<img class="logo-icon me-2" src="{% static 'img/comlogo.png' %}" alt="logo">
						</a>
					</div>
					<h2 class="auth-heading text-center mb-4">Change Password</h2>
					<div class="auth-intro mb-4 text-center">Enter a new password for your account.</div>

					<div class="auth-form-container text-left">
						{% include "partials/messages.html" %}
						<form class="auth-form resetpass-form" method="post">
							<div class="email mb-3">
								<label for="reg-email">Enter Password</label>
								{% csrf_token %}
								<input name="password1" type="password" class="form-control login-email" placeholder="Password" required="required">
							</div><!--//form-group-->
							<div class="email mb-3">
								<label for="reg-email">Confirm Password</label>
								<input name="password2" type="password" class="form-control login-email" placeholder="Confirm Password" required="required">
							</div>
							<div class="text-center">
								<button type="submit" class="btn app-btn-primary btn-block theme-btn mx-auto">Reset Password</button>
							</div>
						</form>
						<div class="auth-option text-center pt-5"><a class="app-link" href="{% url 'auth:login' %}" >Log in</a></div>
					</div><!--//auth-form-container-->
			    </div><!--//auth-body-->
		    </div><!--//flex-column-->
	    </div><!--//auth-main-col-->
    </div>-<!--//row-->
</div>
{% include "partials/auth_script.html" %}
{% endblock body %}
