{% extends "base.html" %}
{% load static %}
{% block title %} Login
{% endblock %}
{% block head %}
{% include "partials/auth_head.html" %}
{%endblock %}
{% block body %}
<div class="app app-login p-0">
    <div class="row g-0 app-auth-wrapper">
	    <div class="col-12 auth-main-col text-center p-5">
		    <div class="d-flex flex-column align-content-center">
			    <div class="app-auth-body mx-auto">
				    <div class="app-auth-branding mb-4"><a class="app-logo" href="{% url 'app:home' %}"><img class="logo-icon me-2" src="{% static 'img/comlogo.png' %}" alt="logo"></a></div>
					<h2 class="auth-heading text-center mb-5">Log in to Project Manager</h2>
			        <div class="auth-form-container text-start">
						<form class="auth-form login-form">
							<div class="email mb-3">
								<label class="sr-only" for="signin-email">Email / RegNo</label>
								<input id="signin-email" name="signin-email" type="text" class="form-control signin-email" placeholder="Email address" required="required">
							</div><!--//form-group-->
							<div class="password mb-3">
								<label class="sr-only" for="signin-password">Password</label>
								<input id="signin-password" name="signin-password" type="password" class="form-control signin-password" placeholder="Password" required="required">
								<div class="extra mt-3 row justify-content-between">
									<div class="col-6">
										<div class="form-check">
											<input class="form-check-input" type="checkbox" value="" id="RememberPassword">
											<label class="form-check-label" for="RememberPassword">
											Remember me
											</label>
										</div>
									</div><!--//col-6-->
									<div class="col-6">
										<div class="forgot-password text-end">
											<a href="{% url 'auth:reset_password' %}">Forgot password?</a>
										</div>
									</div><!--//col-6-->
								</div><!--//extra-->
							</div><!--//form-group-->
							<div class="text-center">
								<button type="submit" class="btn app-btn-primary w-100 theme-btn mx-auto">Log In</button>
							</div>
						</form>
					</div><!--//auth-form-container-->

			    </div><!--//auth-body-->
		    </div><!--//flex-column-->
	    </div><!--//auth-main-col-->
    </div><!--//row-->
</div>
{% include "partials/auth_script.html" %}
{% endblock body %}
