{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Dashboard
{% endblock %}
{% block head %}
{% include "partials/auth_head.html" %}
{%endblock %}
{% block body %}
<div class="app">
    {% include "partials/auth_nav.html" %}
	<div class="app-wrapper">
		<div class="app-content pt-3 p-md-3 p-lg-4">
			<div class="container-xl">
				<div class="row g-3 mb-4 align-items-center justify-content-between">
					<div class="col-auto">
						<h1 class="app-page-title mb-0">
							<a
								href="{% url 'auth:allocate' dept.pk %}"
								class="btn btn-secodary"
								><i class="fa fa-arrow-left"></i
							></a>
							Retrieve {{ dept }} Allocations
						</h1>
					</div>
					<div class="col-auto">
						<div class="page-utilities">
						   <div class="row g-2 justify-content-start justify-content-md-end align-items-center">
							   <div class="col-auto">

								   <a class="btn app-btn-secondary" style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#retrieveAllocationModal">
									   <i class="fa fa-download"></i>
									   Retrieve Allocation
								   </a>
							   </div>
						   </div><!--//row-->
					   </div><!--//table-utilities-->
				   </div><!--//col-auto-->
					<!--//col-auto-->
					{% include "partials/messages.html" %}
				</div>
				<!--//row-->

				<div class="row g-4">
					<div class="col-12">
						<div
							class="app-card app-card-basic d-flex flex-column align-items-start shadow-sm"
						>
							<div class="app-card-header p-3 border-bottom-0">
								<div class="row align-items-center gx-3">
									<div class="col-auto">
										<div class="app-icon-holder icon-holder-mono">
											<i class="fa fa-angle-double-down" style="margin-top: 3px"></i>
										</div>
									</div>
									<div class="col-auto">
										<h4 class="app-card-title">Manage Retrieved Allocation </h4>
									</div>
								</div>
								<!--//row-->
							</div>
							<!--//app-card-header-->
							<div class="app-card-body px-4 col-12">
								<div class="table-responsive">
									<table class="table app-table-hover mb-0 text-left">
										<thead>
											<tr>
												<th class="cell"><input type="checkbox" id="delete_all"> &nbsp; S/No</th>
												<th class="cell">Supervisor</th>
												<th class="cell">File No.</th>
												<th class="cell">Students</th>
												<th class="cell">RegNo.</th>
											</tr>
										</thead>
										<tbody>
											<form action="" method="post">
												{% csrf_token %}
												{% if groupings %}
													{% for item in groupings %}
														{% for i in item.2 %}
														<tr>
															{% if forloop.counter == 1 %}
																<td rowspan="{{item.2|length}}" class="align-middle">
																	<input type="checkbox" data-bs-toggle="tooltip" data-bs-placement="top" title="This deletes the entire group" name="to_delete" class="to_delete" value="{{ item.3 }}"> &nbsp; &nbsp;
																	{{ forloop.parentloop.counter }}
																</td>
															{% endif %}

															{% if forloop.counter == 1 %}
																<td rowspan="{{item.2|length}}" class="align-middle">
																	{{ item.0.user_id.get_fullname }}
																</td>
															{% endif %}
															{% if forloop.counter == 1 %}
																<td rowspan="{{item.2|length}}" class="align-middle">
																	{{ item.0.user_id.get_username }}
																</td>
															{% endif %}
															<td>
																{{ i.user_id.get_fullname }}
															</td>
															<td>
																{% if item.2|length != 1 %}
																	<input type="checkbox" data-bs-toggle="tooltip" data-bs-placement="top" title="This student will be deleted from {{item.1}}" name="to_delete" class="to_delete" value="{{ i.user_id }}">
																{% endif %}
																{{ i.user_id.username }}
															</td>
														</tr>
														{% endfor %}
													{% endfor %}
												{% else %}
												<tr>
													<td colspan="12">
														<div class="jumbotron text-center p-5">
															<p style="font-size: 3em">📂</p>
															<br />
															<p style="font-size: 1em; margin-top: -40px">
																No Record Found!
															</p>
															<p class="text-muted">
																No allocation record was retrieved from the input received
															</p>
														</div>
													</td>
												</tr>
												{% endif %}
												<tr>
													<td colspan="12">
														<div class="mt-3 mx-auto">
															<a href="" class="btn btn-danger btn-block text-white" data-bs-toggle="modal" data-bs-target="#deleteA"><i class="fa fa-recycle"></i> Delete Selected
															</a>
														</div>
													</td>
												</tr>
												<input type="hidden" name="prog" value="{{prog}}">
												<input type="hidden" name="sess" value="{{sess}}">
												<input type="hidden" name="type" value="{{type}}">
												<div class="modal fade" id="deleteA" style="display: none;" aria-hidden="true">
													<div class="modal-dialog" id="deleteADiaglog" role="document">
													<div class="modal-content">
														<div class="modal-header">
															<h5 class="modal-title">Delete Selected Allocation</h5>
															<button type="button" class="close btn btn-secondary" data-bs-dismiss="modal"><span>×</span>
															</button>
														</div>
														<div class="modal-body">
															<p>Are you sure you want to delete selected allocation?.</p>
														</div>
														<div class="modal-footer">
															<button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cancel</button>
															<button type="submit" name="delete" class="btn btn-success btn-block text-white">Delete Selected</button>
														</div>
													</div>
													</div>
												</div>
											</form>
										</tbody>
									</table>
								</div>
							</div>
							<!--//app-card-body-->
							<div class="app-card-footer p-4 mt-auto"></div>
							<!--//app-card-footer-->
						</div>
						<!--//app-card-->
					</div>
					<!--//col-->
				</div>
				<!--//row-->
			</div>
		</div>
		{% include 'partials/auth_footer.html' %}
	</div>
	<div class="modal fade" id="retrieveAllocationModal" style="display: none;" aria-hidden="true">
		<div class="modal-dialog" id="uploadDialog" role="document" hx-target="this">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Retrieve Allocation</h5>
					<button type="button" class="close btn btn-secondary" data-bs-dismiss="modal"><span>×</span>
					</button>
				</div>
				<form method="post" enctype="multipart/form-data">
					<div class="modal-body">
						{% csrf_token %}
						{{ form|crispy }}
					</div>
					<div class="modal-footer">
						<button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cancel</button>
						<button type="submit" name="authR" class="btn btn-primary text-white"> <i class="fa fa-angle-double-down"></i> Retrieve </button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- Javascript -->
	{% include "partials/auth_script.html" %}
	<script>
		document.getElementById('delete_all').addEventListener("click",()=> {
			to_delete = document.getElementsByClassName('to_delete');
			if (delete_all.checked){
				for (const item of to_delete) {
					item.checked = true;
				}
			}else{
				for (const item of to_delete) {
					item.checked = false;
				}
			}
		})

		$('.searchable').select2({
			dropdownParent: $('#retrieveAllocationModal'),
			width: 'resolve'
		});
	</script>
</div>
{% endblock body %}
