{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Profile
{% endblock %}
{% block head %}
{% include "partials/auth_head.html" %}
{%endblock %}
{% block body %}
<div class="app">
    {% include "partials/auth_nav.html" %}
    <div class="app-wrapper">
		<div class="app-content pt-3 p-md-3 p-lg-4">
			<div class="container-xl">
				<h1 class="app-page-title">My Account</h1>
				<div class="row gy-4">
					{% include "partials/messages.html" %}
					<div class="col-12 col-lg-6">
						<div
							class="app-card app-card-account shadow-sm d-flex flex-column align-items-start"
						>
							<div class="app-card-header p-3 border-bottom-0">
								<div class="row align-items-center gx-3">
									<div class="col-auto">
										<div class="app-icon-holder">
											<svg
												width="1em"
												height="1em"
												viewBox="0 0 16 16"
												class="bi bi-person"
												fill="currentColor"
												xmlns="http://www.w3.org/2000/svg"
											>
												<path
													fill-rule="evenodd"
													d="M10 5a2 2 0 1 1-4 0 2 2 0 0 1 4 0zM8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm6 5c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"
												/>
											</svg>
										</div>
										<!--//icon-holder-->
									</div>
									<!--//col-->
									<div class="col-auto">
										<h4 class="app-card-title">Profile - {{ info.username }}</h4>
									</div>
									<!--//col-->
								</div>
								<!--//row-->
							</div>
							<!--//app-card-header-->
							<div class="app-card-body px-4 w-100">
								<div class="item border-bottom py-3">
									<div class="row justify-content-between align-items-center">
										<div class="col-auto">
											<div class="item-label mb-2">
												<strong>Photo</strong>
											</div>
											<div class="item-data">
												<img
													class="profile-image rounded-circle"
													src="{{ info.pic.url }}"
													alt=""
												/>
											</div>
										</div>
									</div>
								</div>
								<!--//item-->
								<div class="item border-bottom py-3">
									<div class="row justify-content-between align-items-center">
										<div class="col-6">
											<div class="item-label"><strong>Full Name</strong></div>
											<div class="item-data">{{info.get_fullname }}</div>
										</div>
									</div>
									<!--//row-->
								</div>
								<!--//item-->
								<div class="item border-bottom py-3">
									<div class="row justify-content-between align-items-center">
										<div class="col-auto">
											<div class="item-label"><strong>Email</strong></div>
											<div class="item-data">
												{% if info.email %}
													{{info.email}}
												{% else %}
													email is not set
												{% endif %}
												{% if info.is_verified %}
												<span class="badge text-lg bg-secondary">✅ Verified</span>
												{% else %}
												<span class="badge text-lg bg-secondary">❌ not Verified {% if info.email %}:<a href="{% url 'auth:resend_email' %}" class="text-white" > click to verify </a> {% endif %}</span>
												{% endif %}
											</div>
										</div>
									</div>
								</div>
								<!--//item-->
								<div class="item border-bottom py-3">
									<div class="row justify-content-between align-items-center">
										<div class="col-auto">
											<div class="item-label"><strong>Phone</strong></div>
											<div class="item-data">
												{% if info.phone %}
													{{info.phone}}
												{% else %}
													phone is not set
												{% endif %}
											</div>
										</div>
									</div>
								</div>

								<div class="row mt-3">
									<div class="col-auto">
										{% if info.is_active == True %}
											<span class="badge bg-success">Active</span>
										{% else %}
											<span class="badge bg-warnng">Inactive</span>
										{% endif %}
									</div>
									<div class="col-auto">
										{% if info.is_superuser %}
											<span class="badge text-lg bg-secondary">🗝️ Super User</span>
										{% elif info.is_staff %}
										<span class="badge text-lg bg-secondary">⭐ Staff</span>
										{% endif %}
									</div>
									<div class="col-auto">
										{% if info.is_super %}
											<span class="badge bg-secondary">🎗️ Supervisor</span>
										{% endif %}
									</div>
								</div>
							</div>
							<!--//app-card-body-->
							<div class="app-card-footer p-4 mt-auto">
								<a class="btn app-btn-secondary" href="#" data-bs-toggle="modal" data-bs-target="#updateProfileModal">Edit Profile</a>
							</div>
							<!--//app-card-footer-->
						</div>
						<!--//app-card-->
					</div>

					<div class="col-12 col-lg-6">
						<div
							class="app-card  shadow-sm d-flex flex-column align-items-start"
						>
							<div class="app-card-header p-3 border-bottom-0">
								<div class="row align-items-center gx-3">
									<div class="col-auto">
										<div class="app-icon-holder">
											<svg
												width="1em"
												height="1em"
												viewBox="0 0 16 16"
												class="bi bi-shield-check"
												fill="currentColor"
												xmlns="http://www.w3.org/2000/svg"
											>
												<path
													fill-rule="evenodd"
													d="M5.443 1.991a60.17 60.17 0 0 0-2.725.802.454.454 0 0 0-.315.366C1.87 7.056 3.1 9.9 4.567 11.773c.736.94 1.533 1.636 2.197 2.093.333.228.626.394.857.5.116.053.21.089.282.11A.73.73 0 0 0 8 14.5c.007-.001.038-.005.097-.023.072-.022.166-.058.282-.111.23-.106.525-.272.857-.5a10.197 10.197 0 0 0 2.197-2.093C12.9 9.9 14.13 7.056 13.597 3.159a.454.454 0 0 0-.315-.366c-.626-.2-1.682-.526-2.725-.802C9.491 1.71 8.51 1.5 8 1.5c-.51 0-1.49.21-2.557.491zm-.256-.966C6.23.749 7.337.5 8 .5c.662 0 1.77.249 2.813.525a61.09 61.09 0 0 1 2.772.815c.528.168.926.623 1.003 1.184.573 4.197-.756 7.307-2.367 9.365a11.191 11.191 0 0 1-2.418 2.3 6.942 6.942 0 0 1-1.007.586c-.27.124-.558.225-.796.225s-.526-.101-.796-.225a6.908 6.908 0 0 1-1.007-.586 11.192 11.192 0 0 1-2.417-2.3C2.167 10.331.839 7.221 1.412 3.024A1.454 1.454 0 0 1 2.415 1.84a61.11 61.11 0 0 1 2.772-.815z"
												/>
												<path
													fill-rule="evenodd"
													d="M10.854 6.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 8.793l2.646-2.647a.5.5 0 0 1 .708 0z"
												/>
											</svg>
										</div>
										<!--//icon-holder-->
									</div>
									<!--//col-->
									<div class="col-auto">
										<h4 class="app-card-title">Security</h4>
									</div>
									<!--//col-->
								</div>
								<!--//row-->
							</div>
							<form method="post">
								<div class="app-card-body px-4 w-100">
									<div class="item border-bottom py-3">
										<div class="row justify-content-between align-items-center">
											<div class="col-auto">
												<p>Fill the form below to change your account password.</p>
												<div id='form-errors'>{{ form_errors }}</div>
												{% csrf_token %}
												<div class="item-label"><strong>Password</strong></div>
												<input type="password" required name="password1" class="form-control">
												<div class="item-label"><strong>Confirm Password</strong></div>
												<input type="password" required name="password2" class="form-control">
											</div>
										</div>
									</div>
								</div>
								<div class="app-card-footer p-4 mt-auto">
									<button class="btn app-btn-secondary" name="changeP">Change Password</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% include 'partials/auth_footer.html' %}
	</div>
    <!-- Javascript -->
	{% include "partials/auth_script.html" %}
</div>
<div class="modal fade" id="updateProfileModal" style="display: none;" aria-hidden="true">
	<div class="modal-dialog" id="uploadDialog" role="document" hx-target="this">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Update Profile</h5>
				<button type="button" class="close btn btn-secondary" data-bs-dismiss="modal"><span>×</span>
				</button>
			</div>
			<form method="post" enctype="multipart/form-data">
				<div class="modal-body">
					<p>Fill the form below to update your account.</p>
					<div id='form-errors'>{{ form_errors }}</div>
					{% csrf_token %}
					{{ form|crispy }}
				</div>
				<div class="modal-footer">
					<button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cancel</button>
					<button type="submit"name="profile" class="btn btn-success btn-block text-white">Update Profile</button>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock body %}
