{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Supervisors
{% endblock %}
{% block head %}
{% include "partials/auth_head.html" %}
{%endblock %}
{% block body %}
<div class="app">
    {% include "partials/auth_nav.html" %}
    <div class="app-wrapper">
	    <div class="app-content pt-3 p-md-3 p-lg-4">
		    <div class="container-xl">
			    <div class="row g-3 mb-4 align-items-center justify-content-between">
				    <div class="col-auto">
						<h1 class="app-page-title mb-0">
                            <a href="{% url 'auth:department' dept.pk %}" class="btn btn-secodary"><i class="fa fa-arrow-left"></i></a>
                            ALL {{ dept }} Supervisor
                        </h1>
				    </div>
				    <div class="col-auto">
					     <div class="page-utilities">
						    <div class="row g-2 justify-content-start justify-content-md-end align-items-center">
							    <div class="col-auto">
								    <a class="btn app-btn-primary" style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#addSuperModal">
									    <i class="fa fa-plus"></i>
									    Add Supervisor
									</a>
                                    <a class="btn app-btn-secondary   " style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#addSuperMultipleModal">
									    <i class="fa fa-upload"></i>
									    Add From File
									</a>
							    </div>
						    </div><!--//row-->
					    </div><!--//table-utilities-->
				    </div><!--//col-auto-->
			    </div><!--//row-->

				<div class="app-card app-card-orders-table shadow-sm pb-1 mb-5">
					<div class="app-card-header p-3">
						<div class="row justify-content-between align-items-center">
							<div class="col-auto">
								<h4 class="app-card-title">All Supervisors</h4>
							</div>
						</div><!--//row-->
					</div><!--//app-card-header-->
					<div class="app-card-body">
						<div class="table-responsive">
							<table class="table app-table-hover mb-0 text-center">
								<thead>
									<tr>
										<th class="cell">S/N</th>
										<th class="cell">User ID</th>
										<th class="cell">Supervisor's Name</th>
										<th class="cell">Rank ID</th>
										<th class="cell">Email</th>
										<th class="cell">Phone</th>
										<th class="cell">Programme</th>
										<th class="cell">Active</th>
										<th class="cell">Action</th>
									</tr>
								</thead>
								<tbody hx-get="{% url 'auth:list_supervisor' dept.dept_id %}" hx-trigger="load, listChanged from:body">
								</tbody>
							</table>
						</div><!--//table-responsive-->
					</div><!--//app-card-body-->
				<!--ND SECTION ENDS-->
				</div><!--//tab-content-->
		    </div><!--//container-fluid-->
	    </div><!--//app-content-->
	    {% include 'partials/auth_footer.html' %}
		{% include "partials/modal_logout.html" %}
    </div><!--//app-wrapper-->
    <!-- Javascript -->
	{% include "partials/auth_script.html" %}
</div>

<div class="modal fade" id="addSuperModal" style="display: none;" aria-hidden="true">
	<div class="modal-dialog" id="uploadDialog" role="document" hx-target="this">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Add Supervisor</h5>
				<button type="button" class="close btn btn-secondary" data-bs-dismiss="modal"><span>×</span>
				</button>
			</div>
			<form method="post">
				<div class="modal-body">
					<p>Fill the form below to create a supervisor account.</p>
					<div id='form-errors'>{{ form_errors }}</div>
					<div class="row">
						<div class="col-6">
							{{ form1.username|as_crispy_field }}
						</div>
						<div class="col-6">
							{{ form1.name|as_crispy_field }}
						</div>
						<div class="col-6">
							{{ form1.phone|as_crispy_field }}
						</div>
						<div class="col-6">
							{{ form1.email|as_crispy_field }}
						</div>
						<div class="col-6">
							{{ form2.rank_id|as_crispy_field }}
						</div>
						<div class="col-6">
							{{ form2.prog_id|as_crispy_field }}
						</div>
						<div class="col-6">
							{{ form2.title|as_crispy_field }}
						</div>
						<div class="col-6">
							{{ form2.RG_capacity|as_crispy_field }}
						</div>
						<div class="col-6">
							{{ form2.Eve_capacity|as_crispy_field }}
						</div>
						<div class="col-6 mt-4">
							{{ form2.super_nd|as_crispy_field }}
						</div>
					</div>
					{% csrf_token %}
				</div>
				<div class="modal-footer">
					<button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cancel</button>
					<button type="submit" name="single" class="btn btn-success btn-block text-white">Create Account</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal fade" id="addSuperMultipleModal" style="display: none;" aria-hidden="true">
	<div class="modal-dialog" id="uploadDialog" role="document" hx-target="this">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Add supervisor from FILE</h5>
				<button type="button" class="close btn btn-secondary" data-bs-dismiss="modal"><span>×</span>
				</button>
			</div>
			<form method="post" enctype="multipart/form-data">
				<div class="modal-body">
					<p>Fill the form below to create multiple supervisor account.</p>
					<div id='form-errors'>{{ form_errors }}</div>
					{{ form3|crispy }}
					{% csrf_token %}
				</div>
				<div class="modal-footer">
					<button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cancel</button>
					<button type="submit" name="multiple" class="btn btn-success btn-block text-white">Create Account</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal fade" id="deleteUserModal" style="display: none;" aria-hidden="true">
	<div class="modal-dialog" id="deleteUser" role="document" hx-target="this">
	</div>
</div>

<script>
	var modal = new bootstrap.Modal(document.getElementById('deleteUserModal'))
	htmx.on('htmx:afterSwap', (e) => {
		if (e.detail.target.id === 'deleteUser'){
		modal.show();
	  }
	})

	htmx.on('htmx:beforeSwap', (e) => {
	  if (e.detail.target.id === 'deleteUser' && !e.detail.xhr.response){
		modal.hide();
		}
	})

</script>
{% endblock body %}
