{% load crispy_forms_tags %}
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">Delete....are you sure?</h5>
        <button type="button" class="close btn btn-secondary" data-bs-dismiss="modal"><span>×</span>
        </button>
    </div>
    <div class="modal-body">
        <p class="text-center">Select "Delete" below if you want to delete <br> <b> {{ user.get_fullname }}</b>.</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cancel</button>
        <form hx-post="{% url 'auth:delete_user' user.user_id %}" id="deleteForm">
            {% csrf_token %}
            <button type="submit" class="btn btn-warning btn-block" id="submit">Delete</button>
        </form>
    </div>
</div>