{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} My Payments {% endblock %}
{% block head %}
{% include "partials/auth_head.html" %}
{%endblock %}
{% block body %}
<div class="app">
    {% include "partials/auth_nav.html" %}

    <div class="app-wrapper">
	    <div class="app-content pt-3 p-md-3 p-lg-4">
		    <div class="container-xl">

			    <div class="row g-3 mb-4 align-items-center justify-content-between">
				    <div class="col-auto">
			            <h1 class="app-page-title mb-0">Project Payments</h1>
				    </div>
			    </div><!--//row-->
				{% include "partials/messages.html" %}

                <div class="app-card app-card-accordion shadow-sm mb-4">
				    <div class="app-card-header p-4 pb-2  border-0">
				       <h4 class="app-card-title">Payment History</h4>
					   <hr>
				    </div><!--//app-card-header-->
				    <div class="app-card-body p-4 pt-0">
						{% if not request.user.is_staff %}

						<div class="row">
							<div class="col-md-4">
								REG NO: {{request.user.username}}
							</div>
							<div class="col-md-4">
								NAME: {{request.user.get_fullname}}
							</div>
							<div class="col-md-4">
								EMAIL: {{request.user.email}}
							</div>
						</div>
						<hr>
						{% endif %}

					    <div class="table-responsive">
							<table class="table app-table-hover mb-0 text-left table-sm table-striped table-bordered" id="table_id">
							  <thead class="text-center">
								<tr class="cell text-center">
								  <th>#</th>

								  {% if request.user.is_staff %}
								  <th class="cell text-center">Name</th>
								  {% endif %}

								  <th class="cell text-center">Description</th>
								  <th class="cell text-center">Amount</th>
								  <th class="cell text-center">Status</th>
								  <th class="cell text-center">Date Paid</th>
								  <th class="cell text-center">Action</th>
								</tr>
							  </thead>
							  <tbody>
								{% if object_list %}
									{% for object in object_list  %}
									<tr class="cell text-center">
										<td class="cell">{{ forloop.counter }}</td>

										{% if request.user.is_staff %}

										<td class="cell">{{ object.student.get_fullname }}</td>
										{% endif %}

										<td class="cell">{{ object.description }}</td>
										<td class="cell">{{ object.amount }}</td>
										<td class="cell">{{ object.status }}</td>
										<td class="cell">{{ object.date_created }}</td>
										<td class="cell">
											{% if object.status == 'success' %}
											<a href="" class="btn btn-success btn-sm text-center text-white">Print</a>
											{% elif object.status == 'pending' %}
											<a href="{% url 'payment:re_verify_payment' object.pk %}" class="btn btn-warning btn-sm text-center text-white">Re-Query</a>
											{% endif %}
										</td>
									</tr>
									{% endfor %}
								{% else %}
								<tr>
									<td colspan="12">
										<div class="jumbotron text-center p-5">
											<!-- illustration can be used here too -->
											<p style="font-size: 5em;">📂</p> <br>
											<p style="font-size: 2em; margin-top: -40px;">No Payment Record Here!</p>
										</div>
									</td>
								</tr>
								{% endif %}
							  </tbody>
							</table>
						  </div>

						<div class="row">

						</div>

				    </div><!--//app-card-body-->
				</div><!--//app-card-->

            </div>
        </div>
        {% include 'partials/auth_footer.html' %}
    </div>
    <!-- Javascript -->
	{% include "partials/auth_script.html" %}
</div>
{% endblock %}