{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Venues {% endblock %}
{% block head %}
{% include "partials/auth_head.html" %}
{%endblock %}
{% block body %}
<div class="app">
	{% include "partials/auth_nav.html" %}

	<div class="app-wrapper">
		<div class="app-content pt-3 p-md-3 p-lg-4">
			<div class="container-xl">
				<div class="row g-3 mb-4 align-items-center justify-content-between">
					<div class="col-auto">
						<h1 class="app-page-title mb-0">
							<a
								href="{% url 'auth:department' dept.pk %}"
								class="btn btn-secodary"
								><i class="fa fa-arrow-left"></i
							></a>
							{{ dept }} Venues
						</h1>
					</div>
					<div class="col-auto">
						<div class="page-utilities">
							<div class="row g-2 justify-content-start justify-content-md-end align-items-center">
								<div class="col-auto">
									<a class="btn app-btn-secondary" style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#allocateS">
										<i class="fa fa-warehouse"></i>
										{{ type | title }} Venue
									</a>
								</div>
							</div>
						</div>
					</div>
					{% include "partials/messages.html" %}
				</div>
				<!--//row-->

				<div class="row g-4">
					<div class="col-md-4 col-lg-4 col-sm-12 ">
						<div class="app-card app-card-basic d-flex flex-column align-items-start shadow-sm">
							<div class="app-card-header p-3 border-bottom-0">
								<div class="row align-items-center gx-3">
									<div class="col-auto">
										<div class="app-icon-holder icon-holder-mono">
											<i class="fa fa-warehouse" style="margin-top: 3px"></i>
										</div>
									</div>
									<div class="col-auto">
										<h4 class="app-card-title">{{ type | title }} Venues</h4>
									</div>
								</div>
							</div>
							<div class="app-card-body px-4 col-12">
								<p class="text-center mb-2">Use the form to {{ type | title }} a venue</p>
								<form action="" method="post">
									<div id="form-errors">{{ form_errors }}</div>
									{% csrf_token %}
									{{ form|crispy }}
									<div class="d-grid gap-2">
										<button type="submit" class="btn btn-success text-white mt-4">{{ type | title }} Venue</button>
									</div>
								</form>
							</div>
							<div class="app-card-footer p-4 mt-auto"></div>
						</div>
					</div>
					<div class="col-md-8 col-lg-8 col-sm-12 ">
						<div
							class="app-card app-card-basic d-flex flex-column align-items-start shadow-sm"
						>
							<div class="app-card-header p-3 border-bottom-0">
								<div class="row align-items-center gx-3">
									<div class="col-auto">
										<div class="app-icon-holder icon-holder-mono">
											<i class="fa fa-list-alt" style="margin-top: 3px"></i>
										</div>
										<!--//icon-holder-->
									</div>
									<!--//col-->
									<div class="col-auto">
										<h4 class="app-card-title">Venues Details</h4>
									</div>
									<!--//col-->
								</div>
								<!--//row-->
							</div>
							<!--//app-card-header-->
							<div class="app-card-body px-4 col-12">
								<div class="table-responsive table-bordered">
									<table class="table app-table-hover mb-0 text-left">
										<thead class="text-center">
											<tr>
												<th class="cell">S/No</th>
												<th class="cell">Venues</th>
												<th class="cell">Programme</th>
												<th class="cell">Action</th>
											</tr>
										</thead>
										<tbody>
											{% if venues %}
											{% for venue in venues %}
											<tr>
												<td class="text-center">{{ forloop.counter }}</td>
												<td class="text-center"><a href="{% url 'hall:edit_venue' dept.pk venue.venue_id %}">{{ venue.venue_title }}</a></td>
												<td class="text-center">{{ venue.prog_id }}</td>
												<td class="text-center">
													<form action="{% url 'hall:delete_venue' dept.pk venue.venue_id %}" method="post">
														{% csrf_token %}
														<button type="submit" class="btn btn-danger btn-sm text-white"><i class="fa fa-trash"></i> </button>
													</form>
												</td>
											</tr>
											{% endfor %}
											{% else %}
											<tr>
												<td colspan="12">
													<div class="jumbotron text-center p-5">
														<p style="font-size: 3em">📂</p>
														<br />
														<p style="font-size: 1em; margin-top: -40px">
															No Venues Record!
														</p>
														<p class="text-muted">
															Venues records displayed if records are found
														</p>
													</div>
												</td>
											</tr>
											{% endif %}
										</tbody>
									</table>
								</div>
							</div>
							<!--//app-card-body-->
							<div class="app-card-footer p-4 mt-auto"></div>
							<!--//app-card-footer-->
						</div>
						<!--//app-card-->
					</div>
				</div>
			</div>
			<div class="modal fade" id="allocateS" style="display: none" aria-hidden="true">
				<div class="modal-dialog" id="changeCDialog" role="document" hx-target="this">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">{{ type | title }} Venue</h5>
							<button type="button" class="close btn btn-secondary" data-bs-dismiss="modal">
								<span>×</span>
							</button>
						</div>
						<form method="post">
							<div class="modal-body">
								<p>Fill the form below to {{ type | title }} a venue.</p>
								<div id="form-errors">{{ form_errors }}</div>
								<div class="row">
									<div class="col-12">{{ form|crispy }}</div>
								</div>
								{% csrf_token %}
							</div>
							<div class="modal-footer">
								<button class="btn btn-secondary" type="button" data-bs-dismiss="modal"> Cancel</button>
								<button type="submit" class="btn btn-success text-white">{{ type | title }} Venue</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		{% include 'partials/auth_footer.html' %}
	</div>
	<!-- Javascript -->
	{% include "partials/auth_script.html" %}
	<script>
		$('.searchable').select2({
			dropdownParent: $('#allocateS'),
			width: 'resolve',
		})
	</script>
</div>

{% endblock body %}
